.appointments-holder {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.appointments-holder__section {
    padding: 15px;
    width: 33%;
}

.appointments-holder-section__empty-title {
    h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}

.appointments-holder-section__title {
    font-weight: bold;
    text-align: center;
}

.appointments-holder-section__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    color: $black;
    &:hover {
        color: lighten($black, 10%);
    }
    p {
        all: unset;
    }
}

.appointments-holder-section__card--ended {
    border: 1px dashed darken($green, 10%);
    background: lighten($green, 20%);
    &:hover {
        background: $green;
    }
}

.appointments-holder-section__card--upcoming {
    border: 1px dashed darken($yellow, 10%);
    background: lighten($yellow, 20%);
    &:hover {
        background: $yellow;
    }
}

.appointments-holder-section__card--ongoing {
    border: 1px dashed darken($blue, 10%);
    background: lighten($blue, 20%);
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    -webkit-animation-iteration-count: infinite;
    &:hover {
        background: $blue;
    }
}

.appointments-holder-section__card--to-me {
    border: 3px solid $red;
    background: lighten($red, 30%);
    &:hover {
        background: lighten($red, 10%);
    }
}

.appointments-holder-section__card--canceled {
    border: 3px solid $black;
    background: lighten($black, 40%);
    &:hover {
        background: lighten($black, 30%);
    }
}

.appointments-holder-section-card__title {
    h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }
}

.appointments-holder-section-card__person-location {
    display: flex;
    p {
        text-align: center;
    }
}

.appointments-holder-section-card__related-issue,.appointments-holder-section-card__starts-at,.appointments-holder-section-card__ends-at {
    p {
        font-size: 12px;
    }
}

.create-appointment-holder, .create-appointment-holder__form, .update-appointment-holder, .update-appointment-holder__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.create-appointment-holder__title {
    margin: 10px 0 30px 0;
    h1 {
        font-weight: bold;
        font-size: 50px;
    }
}

.appointments-holder-section-card__edit-button {
    margin: 15px 0;
}

.update-appointment-holder-form__buttons {
    display: flex;
    flex-direction: column;
}

.home-holder__legend {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.home-holder__legend * {
    padding: 5px;
    border-radius: 5px;
}


@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0.2; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0.2; }
    50% { opacity: 1; }
}
